form {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

form .form-group {
    gap: 5px;
    width: 100%;
    display: flex;
    flex: 1 1 250px;
    min-height: 60px;
    flex-direction: column;
    justify-content: center;
}

form .form-group .input {
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding-inline: 10px;
    height: var(--height);
    color: var(--black-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
}

form .form-group .input:focus {
    box-shadow: 0px 0px 4px rgba(0, 170, 255, .5);
}

form .container-opt {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

input[type="radio"] {
    accent-color: var(--primary-color);
}

.input-radio {
    gap: 3px;
    display: flex;
    align-items: center;
}

.input-radio label {
    cursor: pointer;
}

@media (min-width: 576px) {
    form .container-opt {
        justify-content: end;
    }
}