form {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
}

.input {
    height: 35px;
    flex: 1 1 200px;
    font-size: 1rem;
    padding-inline: 10px;
    color: var(--black-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
}

input[type="radio"] {
    accent-color: var(--primary-color);
}

.input-radio {
    gap: 3px;
    display: flex;
    align-items: center;
}

.input-radio label {
    cursor: pointer;
}