form {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
}

form .container-opt {
    gap: 7px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
}

input[type="radio"] {
    accent-color: var(--primary-color);
}

.input-radio {
    gap: 3px;
    display: flex;
    align-items: center;
}

.input-radio label {
    cursor: pointer;
}