/* Ocultar tabla en pantallas pequeñas y mostrar cards */
.content-table {
    display: none;
}

.cards-container {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--gray-color);
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.card-body .item {
    display: flex;
    margin-block: 0.5rem;
    flex-direction: column;
}

.card-body div:last-child{
    display: flex;
    justify-content: space-between;
}

.card-body div:last-child div {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body .item span:first-child {
    font-weight: bold;
}

/* Mostrar tabla en pantallas grandes y ocultar cards */
@media (min-width: 768px) {
    .content-table {
        display: block;
    }

    .cards-container {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table thead tr {
        background-color: var(--gray-color);
    }

    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
