.content-table {
    width: 100%;
    overflow-x: auto;
    background-color: var(--white-color);
}

table {
    width: 100%;
    padding: 1rem;
    table-layout: auto;
    border-collapse: collapse;
    background-color: var(--white-color);
}

td,
th {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--gray-color);
}