.content-table {
    padding: 2rem;
    background-color: white;
}

table {
    width: 100%;
    padding: 1rem;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
}

td,
th {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
}