.content-table {
    width: 100%;
    overflow: auto;
    background-color: var(--white-color);
}

.content-table table {
    width: 100%;
    padding: 1rem;
    table-layout: auto;
    border-collapse: collapse;
    background-color: var(--white-color);
}

.content-table table thead {
    background-color: var(--gray-color);
}

.content-table table thead tr th {
    font-size: 1rem;
}
.content-table table tbody tr td {
    font-size: 1rem;
}

td,
th {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--gray-color);
}