* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
}

.btn {
  outline: none;
  background-color: blue;
  color: white;
  height: 35px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  width: 200px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}