* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--gray-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--gray-color);
}

.bg-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  padding: 3rem 1rem;
  background-color: var(--gray-color);
}

.container {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--white-color);
}

.container-form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.container-form .btn {
  width: 100%;
}

.container-form .input {
  width: 100%;
  padding-inline: 10px;
  height: var(--height);
  color: var(--black-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  height: var(--height);
  width: min(250px, 100%);
  border-radius: var(--border-radius);
}

.btn-primary { 
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.btn-secondary {
  color: var(--black-color);
  border: 1px solid var(--gray-color);
  background-color: var(--gray-color);
 }

.btn-red {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: var(--danger-color);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg-error {
  font-weight: bold;
  text-align: center;
  color: var(--danger-color);
}

.bg-loader {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader-text {
  font-size: 1.5em;
  color: var(--white-color);
}

.form-group {
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;
}

.form-group .input {
  width: 100%;
  font-size: 1rem;
  padding-inline: 10px;
  height: var(--height);
  color: var(--black-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

@media (min-width: 475px) {
  .container-form {
    flex-direction: row;
    align-items: start;
  }

  .container-form .btn,
  .container-form .input {
    width: 250px;
  }
}