:root {

    /* Colors */
    --primary-color: #008eed;
    --white-color: white;
    --black-color: black;
    --gray-color: #f1f1f1;
    --success-color: #1cd447;
    --danger-color: red;

    /* General */
    --border-radius: 7px;
    --height: 35px;
}