:root {

    /* Colors */
    --primary-color: #008eed;
    --white-color: white;
    --black-color: black;
    --gray-color: #c3c3c3;
    --success-color: #1cd469;
    --danger-color: red;

    /* Standars */
    --border-radius: 10px;
}