.notification {
  z-index: 2;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
  color: #fff;
  position: fixed;
  border-radius: 5px;
  padding: 10px 30px;
  transition: opacity 0.3s ease-in-out;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}