.notification {
  right: 20px;
  bottom: 20px;
  position: fixed;
  padding: 15px;
  z-index: 1000;
  display: flex;
  color: white;
  font-size: 16px;
  min-width: 250px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.notification.info {
  background-color: #2196F3;
}

.notification.success {
  background-color: #4CAF50;
}

.notification.warning {
  background-color: #FF9800;
}

.notification.error {
  background-color: #F44336;
}

.notification-close {
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: none;
  margin-left: 10px;
}